body, input, button, ::placeholder, textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.input-container {
  display: flex;
  align-items: center;
}

.config {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.button {
  width: 150px;
  padding: 15px;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: #E8C4C4;
}

.result {
  line-height: 20px;
}

label, .checkbox {
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.global-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

.list-container {
  max-width: auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.img-item {
  width: 64px;
  height: 64px;
  margin: 0;
}

.img-item:hover {
  cursor: pointer;
}

.img-item:hover ~ .input {
  display: none;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.input {
  width: calc(100% - 5px);
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 5px;
}

.data-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.li-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: #F2E5E5;
  max-width: max-content;
  border-radius: 5px;
  padding: 5px;
}

.li-item {
  display: flex;
  align-items: center;
  width: 260px;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #E8C4C4;
}

.data-name {
  display: none;
}

.data-items {
  display: flex;
  flex-direction: column;
  gap: 2px;
}